.App {
  text-align: center;
  height: 100vh;
}

img {
  display: block;
}

.c-martin__logo {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  transition: all .5s;
}

.c-martin__logo img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.c-martin__logo.c-martin__collapsed {
  margin: 30px auto;
  width: 50px;
  height: 50px;
}

.c-trigger {
  font-size: 20px;
}